.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	margin: 30px 0;
	border-radius:1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title {        
	padding-bottom: 15px;
	/* background: linear-gradient(40deg, #2096ff, #05ffa3) !important; */
	background-color: #2096ff;
	color: #fff;
	padding: 16px 30px;
	margin: -20px -25px 10px;
	border-radius: 1px 1px 0 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 5px;
	border: none;
	outline: none !important;
	margin-left: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
/* Modal styles */
.modal .modal-dialog {
	/*max-width: 400px;*/
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 1px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 1px 1px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 1px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 1px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	

.btn{
	height: 32px !important;
}

.table td, .table th{
	vertical-align: bottom;
}

.pt-5 table td{
	padding: 0.2rem 0.5rem 0.5rem 0.5rem !important;
}

.pt-5{
	padding-top: 2rem !important;
}

textcenter{
	display: block;
	text-align: center;
}